body {
    background-color: #FAF9F6;
    padding: 0 3vw;
}

.statute-wrapper {
    margin-bottom: 20vh;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid black;
    overflow: hidden;
    transition: max-height 0.3s;
    margin-bottom: 5vh;
}

.slide:first-of-type {
    height: 90vh;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 3.8rem;
    letter-spacing: 0.8px;
    margin: 0;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-size: 2.3rem;
    letter-spacing: 0.8px;
}

p, li {
    font-family: "Roboto mono", monospace;
    font-size: 1.3rem;
    line-height: 1.5;
}

p.content-text, .project-description {
    text-align: justify;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: palevioletred;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button {
    background-color: #FAF9F6;
    border: 2px solid black;
    color: black;
    padding: 12px 24px;
    text-align: center;
    font-family: "Roboto mono", monospace;
    font-size: 0.9rem;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #DAD9D6;
    cursor: pointer;
}

.about-us, .projects {
    padding: 10vh 0;
}

.projects {
    width: 100%;
}

.project-description {
    background-color: #EAE9E6;
    border: 2px solid black;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

.statute {
    width: 100%;
    margin-bottom: 5vh;
}

.wrap {
    height: 50vh;
    padding: 10vh 0;
    justify-content: center;
    align-items: center;
    align-content: flex-start;

}

.contact-list {
    --min: 10ch;
    --gap: 1rem;
  
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    list-style-type: none;
}
  
.contact-list > * {
    flex: 1 1 var(--min);
}

.contact-list li {
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    height: 9vh;
    width: 9vh;
}


@media (orientation: landscape) {
    body {
      max-width: 70vw;
      margin-left: auto;
      margin-right: auto;
    }
  }

@media only screen and (orientation: portrait) {
    .wrap {
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    p, li {
        font-size: 0.95rem;
    }

    p.content-text, .project-description {
        text-align: center;
    }

    .button-container {
        justify-content: center;
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .contact-list li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }
}
